__pycache__/
*.pyc
*.bak
*.bak*
.DS_Store
*.tar
*.tar.gz
*backup*
*.lime
*.zip
edr-venv/
volatility-env/
volatility3/
volatility3-symbols/
velociraptor_client/
LiME/
**/pcap_captures/
**/pcap_reports/
**/compliance_reports/*.html
**/compliance_reports/*.txt
**/edr-compliance-reports/*.json
**/investigation_reports/*.html
**/investigation_reports/*.txt
*.jsonl
!device_inventory.json
.env
*.pem
*.key
wazuh-agent.deb
**/client.config.yaml
**/velociraptor_api_client.yaml
**/velociraptor*.yaml
